@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Outfit:wght@700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --color-amber-400: #EAD070;
  --color-amber-500: #D4AF37;
  --color-amber-600: #B2922D;
  --color-neutral-900: #14171E;
  --color-neutral-950: #0B0D11;
  --color-black: #050608;

  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", sans-serif;
}
